{
  acme_dns cloudflare {env.CF_DNS_API_TOKEN}
}

*.beansrn.com {
  @komodo host km.beansrn.com
  handle @komodo {
    reverse_proxy host.docker.internal:9120
  }

  @homeassistant host ha.beansrn.com
  handle @homeassistant {
    reverse_proxy host.docker.internal:8123
  }

  @vaultwarden host vw.beansrn.com
  handle @vaultwarden {
    reverse_proxy vaultwarden:80
  }
}
